.signin {
    height: 410px;
    width: 500px;
    text-align: center;
    border: 0.1px  outset black;
    padding-top: 40px;
    border-radius: 10px;
    /* box-shadow: 0 0 0 1px black; */
}

.forgot {
    text-align: center;
}