.signin {
    height: 410px;
    width: 500px;
    text-align: center;
    padding-top: 40px;
    border-radius: 10px;
    /* box-shadow: 0 0 0 1px black; */
}

.forgot {
    text-align: center;
}

.poster {
    margin: auto;
    display: block;
    border-radius: 8%;
    height: 350px;
    width: 550px;
}