.header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0dfdc;
  }
  
  .logo {
    font-size: 3rem;
    color: black;
    font-style: bold;
    margin-left: 40px;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-left: 2rem;
    margin-right: 3rem;
    font-size: 25px;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .nav a:hover,
  .nav a:active,
  .nav a.active {
    color: black;
  }