.searchBar-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  width: 30%;
  margin-left: 60px;

}
.searchBar-icon {
  color: black;
  margin-right: 1rem;
}

.searchBar-wrap input {
  font-size: 1.5rem;
  outline: none;
  border: none;
  width: 100%;
}

.searchBar-wrap input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}

.parentCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px
}

.card{
  height: 420px;
  width: 420px;
  text-align: center;
  margin: 0px;
  
  /* background-color: #e0dfdc;; */
  
}


.title {
  text-align: center;
}

.image {
  width: 80%;
  margin: auto;
  display: block;
  border-radius: 8%;
  height: 300px;
  width: 300px;
}



.container {
  display:flex;
}


.searchContainer {
  display: flex;
  justify-content: space-between;
  
}


